.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.login-form h1{
  font-size: 50px;
  color: black;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.login-form input {
  width: 300px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.login-form button {
  width: 300px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: black;
  color: white;
  cursor: pointer;
}

.dashboard-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
}

#online-card {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  width: 400px;
  height: 200px;
}

#master-volume-card {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  width: 400px;
  height: 200px;
}

#sound-quality-card {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  width: 400px;
  height: 200px;
}

#sound-quality-card h2 {
  gap: 10px;
}


